
.page-header {
    background-color: #667943;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #FFFFFF;
    font-size: 36pt;
    text-decoration: none;
}

.page-header img {
  width: 7%;
  height: auto;
}

.page-footer {
  height: 80%;
  background-image:url("../img/acropolis.png");
  background-size: cover;
}

.content {
    margin-left: 40px;
    font-size: 16px;
}

h1, h2 {
    font-family: 'Fredericka the Great', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 20px;
}

.post h2 a, .post h2 a:visited, {
    color: #667943;
}

.post a, .post h2 {
  color: #667943;
}

.comment {
    margin: 20px 0px 20px 20px;
}
